*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    background-color: #012A36;
    color: #BCD4DE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

button {
    cursor: pointer;
}

.text_large {
    font-size: 32px;
}

.text_small {
    font-size: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    white-space: nowrap;
}

.form {
    align-self: center;
    width: 97%;
    max-width: 455px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 38px;
}

.form input {
    background-color: #BCD4DE;
    color: #000000;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 11px;
    padding: 12px;
}

.form button {
    width: 10%;
    height: 50px;
    border-radius: 11px;
    background-color: #F79F79;
    border: none;
}

.form label {
    width: 90%;
}

progress-bar {
    border: 1px solid #c2b39a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    width: 90%;
    max-width: 455px;
    padding: 12px;
    border-radius: 11px;
}