*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    background-color: #012A36;
    color: #BCD4DE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    white-space: nowrap;
}

.text_large {
    font-size: 32px;
}

.text_small {
    font-size: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media (max-width: 510px) {
    .wrapper {
        width: 100%;
    }

    header {
        justify-content: center;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 42px;
}

.container {
    width: 100%;
    height: 25px;
    background-color: rgb(192, 192, 192);
    border-radius: 15px;
    text-align: center;
}

.taskDoneBar {
    width: 50%;
    height: 25px;
    background-color: #F79F79;
    color: #000000;
    text-align: right;
    padding: 0.25%;
    border-radius: 15px;
}

.taskDoneWord {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 12px;
    padding: 42px;
    font-size: 25px;
}

.form {
    align-self: center;
    width: 97%;
    max-width: 455px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 38px;
}

.form label {
    width: 90%;
}

.form input {
    background-color: #BCD4DE;
    color: #000000;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 11px;
    padding: 12px;
}

.form button {
    width: 10%;
    height: 50px;
    border-radius: 11px;
    background-color: #F79F79;
    border: none;
}

.todo_list {
    align-self: center;
    width: 97%;
    max-width: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 27px;
    gap: 27px;
}

.todo_item,
.edit-form input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    max-width: 455px;
    border: 1px solid #c2b39a;
    font-size: 16px;
    background-color: #0d0d0d;
    color: #fff;
    padding: 12px;
}

.edit-form input {
    outline: transparent;
    width: calc(100% - 14px);
    height: calc(100% - 12px);
    border: transparent;
}

.leftSide,
.rightSide {
    display: flex;
    align-items: center;
}

.leftSide {
    background-color: transparent;
    border: none;
    color: #fff;
    gap: 12px;
    font-size: 16px;
}

.rightSide {
    gap: 4px;
}

.rightSide button {
    background-color: transparent;
    color: #fff;
    border: none;
}

.rightSide button svg {
    fill: #c2b39a;
}